.home__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home__header__content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.home__header__content p {
    color: black;
    width: 85%;
}

.home__header img {
    width: 35%;
}

.home--empresas .home__header img {
    width: 40%;
    margin-top: 2%;
}

.home__header__content p {
    font-size: 18px;
}

.home__header__content button {
    width: 30%;
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.titulo-servicios {
    font-size: 33px;
    font-weight: 700;
    margin: 4% 0% 2% 6%;
}

.home__aliados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0%;
}

.home__aliados h3 {
    font-size: 33px;
    font-weight: 700;
}

.home__aliados__logos {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo-aliados {
    /* gris por defecto */
    width: 180px;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.logo-aliados:hover {
    /* vuelve al color original */
    filter: grayscale(0%);
}

@media (max-width: 900px) {
    .home__header__content {
        width: 50%;
    }

    .home__header img {
        width: 35%;
    }

    .home__header__content p {
        font-size: 18px;
    }

    .home__header__content button {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .home__header {
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
        gap: 0;
    }

    .home--empresas .home__header {
        gap: 25px;
    }

    .home__header__content {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home__header img {
        width: 70%;
    }

    .home--empresas .home__header img {
        width: 90%;
    }

    .home__header__content p {
        font-size: 16px;
    }

    .home__header__content button {
        width: 80%;
    }

    .home__header__content button {
        font-size: 15px;
    }

    .logo-aliados {
        width: 86px;
    }

    .home__aliados__logos {
        gap: 6px;
    }
}

@media (max-width: 320px) {

    .home__aliados p {
        margin: 5%;

    }

    .logo-aliados {
        width: 76px;
    }

    .home__aliados__logos {
        gap: 0px;
    }
}